:root {
    --button-color: #7FC6A4;
    --text-color: #2D4059;
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body {
    background-color: #E8F6EF;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #D6F8D6;
    max-width: 600px;
    width: 90%;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: var(--text-color);

}

.container h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.container .button_container button {
    background-color: var(--button-color);
    font-size: large;
    width: 150px;
    height: 60px;
    border: none;
    cursor: pointer;
    border-radius: 80px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 10px auto;
    
}

.container .button_container button:hover {
    background-color: rgba(127, 198, 164, 0.7);
}

.container .display {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    padding: 20px;
    margin: 30px auto;
}
.container .score_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 15px;
    }

    .container h1 {
        font-size: 2rem;
    }

    .container .button_container button {
        width: 120px;
        height: 50px;
        font-size: medium;
    }

    .container .display {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .container .score_container {
        flex-direction: column;
        gap: 10px;
    }

    .container .score_container h2 {
        text-align: center;
    }
}